html {
	overflow-y: scroll;	/* fixing "jump horizontally" effect */
}
.m-hide {
    display: none !important;
}
.m-clear {
    clear: both;
}
.m-bold {
    font-weight: bold;
}
input, select, button, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Clearfix. For modern browsers */
.m-clearfix:before,
.m-clearfix:after {
    content:"";
    display:table;
}

.m-clearfix:after {
    clear:both;
}

/* Clearfix. For IE 6/7 (trigger hasLayout) */
.m-clearfix {
    *zoom:1;
}