{% extends "base.html" %}

{% load static i18n widget_tweaks %}


{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>{% trans 'Password reset confirmation' %}</h2>
            <form class="reg-page" method="post" action="">
                {% csrf_token %}

                {% if validlink %}

                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                    <div>
                        {{ form.new_password1.errors }}
                        <label>{{ form.new_password1.label }} <span class="color-red">*</span></label>
                        {% render_field form.new_password1 class+="form-control margin-bottom-20" %}
                    </div>

                    <div class="top-buffer">
                    {{ form.new_password2.errors }}
                    <label>{{ form.new_password2.label }} <span class="color-red">*</span></label>
                    {% render_field form.new_password2 class+="form-control margin-bottom-20" %}
                    </div>

                    <p class="top-buffer"><button class="btn-u" type="submit">{% trans 'Change my password' %}"</button></p>

                {% else %}

                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                {% endif %}
            </form>
        </div>
    </div><!--/row-->
{% endblock %}