{% extends "base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}


{% block pagetitle %}Register a new account{% endblock %}


{% block navbar_register_class %}active{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form class="reg-page" method="post" action="">
                {% csrf_token %}
                <div class="reg-header">
                    <h2>Register a new account</h2>
                    <p>Already Signed Up? Click <a href="{% url 'login' %}" class="color-green">Sign In</a> to login your account.</p>
                </div>


                <div class="row top-buffer">
                    <div class="col-sm-6 pull-down">
                        {{ form.first_name.errors }}
                        {{ form.first_name.label_tag }}
                        {% render_field form.first_name class+="form-control margin-bottom-20" %}
                    </div>
                    <div class="col-sm-6 pull-down">
                        {{ form.last_name.errors }}
                        {{ form.last_name.label_tag }}
                        {% render_field form.last_name class+="form-control margin-bottom-20" %}
                    </div>
                </div>

                <div class="top-buffer">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {% render_field form.email class+="form-control margin-bottom-20" %}
                </div>

                <div class="row top-buffer">
                    <div class="col-sm-6 pull-down">
                        {{ form.password1.errors }}
                        {{ form.password1.label_tag }}
                        {% render_field form.password1 class+="form-control margin-bottom-20" %}
                    </div>
                    <div class="col-sm-6 pull-down">
                        {{ form.password2.errors }}
                        {{ form.password2.label_tag }}
                        {% render_field form.password2 class+="form-control margin-bottom-20" %}
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-6 checkbox">
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-default" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}