Django
pytils
django-axes
django-ckeditor
django-compressor
django-configurations
django-debug-toolbar
django-filter
django-imagekit
django-widget-tweaks
djangorestframework
envdir
gunicorn
setproctitle
psycopg2
Pillow
pylibmc
ipython
Unipath
