Django
easy-thumbnails
pytils
django-axes
django-ckeditor
django-filter
django-debug-toolbar
django-configurations
django-registration-redux
django-widget-tweaks
djangorestframework
envdir
gunicorn
setproctitle
psycopg2
Pillow
pylibmc
ipython
Unipath
