html {
    overflow-y: scroll;	/* fixing "jump horizontally" effect */
    font-size: 18px;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; /* or 950px */
    position: relative;
}
.container-fluid.embedded  {
    padding-left: 0;
    padding-right: 0;
}



.errorlist {
    list-style-type: none;
    color: red;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 8px;
}
.errorlist li {
    color: red;
}
.top-buffer {
    margin-top: 1.2em;
}

.messages p {
    padding: 15px;
}
.messages {
    margin: 20px 0;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* End Sticky footer styles
-------------------------------------------------- */
