proc_name = '{{ project_name }}'
bind = '127.0.0.1:8000' 
workers = 3 
user = '{{ project_name }}'
group = '{{ project_name }}'
loglevel = 'debug'
errorlog = '{{ project_root }}/logs/gunicorn.error.log'
accesslog = '{{ project_root }}/logs/gunicorn.access.log'